<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1>
    <h3>Name:{{user.name}}</h3>
    <h3>Email:{{user.email}}</h3>
    <h3>Password:{{user.password}}</h3>

    <a href="/blogpost/{{user._id}}">Create new blog post</a>
    <a href="/allPosts/{{user-_id}}">All user posts</a>

    <form action="/delete/{{user._id}}">
        <button type="submit">Delete user</button>
    </form>
</body>
</html>